<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<mapper namespace="cn.hqtmain.mapper.RoleMapper">
	<resultMap type="cn.hqtmain.entity.Role" id="roleMap">
		<id property="roleId" column="role_id" />
		<result property="cid" column="cid" />
		<result property="companyName" column="company_name" />
		<result property="roleName" column="role_name" />
		<result property="roleAuthority" column="role_authority" />
		<result property="roleDescription" column="role_description" />		
	</resultMap> 
	
	<insert id="insert" parameterType="cn.hqtmain.entity.Role"	useGeneratedKeys="true" keyProperty="companyId">
		insert into role( cid,role_name,role_authority,role_description)
		values(#{cid},#{roleName},#{roleAuthority},#{roleDescription})
	</insert>
	
	<select id="select" resultMap="roleMap">
			 SELECT 
			 e.role_id,e.cid,e.role_name,e.role_authority,e.role_description,b.company_id,b.company_number,b.company_name,b.company_adress,b.creation_time
			  FROM role e LEFT JOIN  company  b  on e.cid=b.company_id 			
			<if test="where != null">where ${where}</if>
		 	<if test="orderBy != null">order by  ${orderBy}</if> 
		 	<if test="offset != null">limit   ${offset},${countPerPage}</if>
	 </select>
	 
	 <update id="update" parameterType="cn.hqtmain.entity.Role" >
				update  role set
				cid=#{cid},role_name=#{roleName},role_authority=#{roleAuthority},role_description=#{roleDescription}			
				where
					role_id=#{roleId}		
	</update>
	<update id="updateAuthority" parameterType="cn.hqtmain.entity.Role" >
				update  role set
				role_authority=#{roleAuthority}			
				where
					role_id=#{roleId}		
	</update>
	<delete id="delete" parameterType="cn.hqtmain.entity.Role">
			delete from role 			
			<if test="where != null">where ${where}</if>
	</delete>
	</mapper>
	
	
	
	
	
	
	
	
	