/*admin major*/
.table_majorList{
	margin: 0;
	padding: 0;
}
.table_majorList th{
	padding: 1em;
	text-align: center;
}
.table_majorList td{
	padding: 0 1em;
	color: #555;
}
.operations li{
	float: left;
	width: 25%;
	/*height: 3em;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
a:hover{ text-decoration: none; }
.operations li a{
	width: 2em;
}
.operations li a>img{
	width: 100%;
	height: 2em;
}
.sise_menu_title h2{
	padding: .4em 0;
}
.sise_menu_title span{
	transform: rotate(90deg);
}
.side_menu{
	margin: 0;
}
.side_menu li{
	border-bottom: 1px solid #999;
	background-color: #fff;
	color: #999;
}
.side_menu li h4{
	cursor: pointer;
	margin: 0;
	padding: .6em 1em;
}
.side_menu li div{
	display: none;
	padding: .6em 1em;
	padding-left: 3em;
	border-top: 1px solid #3b8bec;
	position: relative;
}
.side_menu li div::before{
	content: '';
	width: 100%;
	height: 80%;
	border-left: 2px solid #3b8bec;
	position: absolute;
	top: .2em;
	left: 2em;
}
.side_menu li.cur>h4{
	color: #3b8bec;
}
.side_menu li.cur>h4>span{
	transform: rotate(90deg);
}
.side_menu li.cur>div{
	display: block;
}
.margin0{
	margin: 0;
}
.search_wrap{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.padding-side{
	padding: 0 1em;
}
.fontwei{
	font-weight: bolder;
}

/*专业更新*/
.majorUpdate{
	margin: 2em 0;
}
a:focus{text-decoration: none;}
input{
	color: #999;
	padding: .5em .4em;
	border-radius: 6px;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
}
.text-center{
	text-align: center;
}
textarea{
	width: 100%;
	padding: .4em;
	color: #999;
	border-radius: 6px;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
}
select{
	border: 1px solid #999;
	border-radius: 4px;
	padding: .4em 1em;
}
.major_summary_wrap>li,
.summary_Gjob>li{
	margin-top: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #337ab7;
}
.major_summary_wrap>li:last-of-type,
.summary_Gjob>li:last-of-type{
	border: 0;
}
.subject_assess ul>li{
	margin-top: 1em;
}
.majorUpdate ul>li>ul{
	border-bottom: 1px solid #337ab7;
}
.border-bottom{
	border-bottom: 1px solid #337ab7;
}
.majorUpdate ul>li>ul>li{
	margin-top: 1em;
	padding-bottom: 1em;
}
.btn-primary{
	background-color: #3b8bec;
}

.major_summary input{
	text-align: center;
}
.major_intro li{
	display: flex;
	justify-content: flex-start;
	margin: .5em 0;
}
.cols2>li{
	width: 50%;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1em;
}
.page_tit{
	font-size: 18px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.page_tit input{text-align: center;width: 6em;}
/*.subject_pick>div{
	display: flex;
	justify-content: space-between;
}*/
.width100{
	width: 100%;
}
.margin_top1{
	margin-top: 1em;
}
.margin_top2{
	margin-top: 2em;
}
.margin_bot2{
	margin-bottom: 2em;
}
.padding-side2{
	padding: 0 2em;
}

.flex_row_start{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.width10em{
	display: inline-block;
	width: 14em;
	text-align: right;
	
}
.width6em{
	display: inline-block;
	width: 8em;
}
.width6em{
	display: inline-block;
	width: 6em;
}
.width4em{
	display: inline-block;
	width: 4em;
	text-align: center;
}
.tablist_wrap>ul{
	border-bottom: 2px solid #0066CC;
}
.tab_h{
	position: relative;
}
.tab_h>div{
	position: absolute;
	right: 0;
	top: 0;
}
.tab_h li{
	font-weight: bold;
	font-size: 1.2em;
	float: left;
	cursor: pointer;
	padding: .5em 2em;
	border: 1px solid #0066CC;
	border-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
li.now{
	background-color: #0066CC;
	color: #fff;
}
.tab_b>div{
	display: none;
}
.tab_b>div.now{
	display: block;
}
.subject_assess ul li>label{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.text-center{
	text-align: center;
}
.text-white{
	color: #fff;
}
.bg-success{
	background-color: #06a285;
}
.border-defult{
	border: 1px solid #ddd;
	padding: .4em;
	border-radius: 4px;
}
.flex_JAcenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_JAstart{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.flex_JCbetw{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.margin_bot{
	margin-bottom: 1em;
}
.file-item{
	width: 12em;
	border: 0;
}
.file-list{
	position: relative;
}
.file-list li img{
	width: 100%;
}
.addImg{
	position: relative;
	width: 168px;
	height: 164px;
	overflow: hidden;
	background-color: #f4fff7;
}
.addImg::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/plus.png) center no-repeat;
	z-index: 1;
	opacity: 0.3;
}
.addImg:hover::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image:;
	background: url(../img/plus.png) center no-repeat;
	background-color: #E8E529;
	z-index: 1;
}
#choose-file{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}
.delbox{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.p_relative{
	position: relative;
}

.file-del{
	color: #999;
	font-size: 4em;
	display: none;
}
.file-item:hover img{
	filter: blur(2px);
	/* IE 8 */
	filter:alpha(opacity=.6);
	/* Firefox,Safari(WebKit),Opera */
	-ms-filter:alpha(opacity=.6);
	/* IE 4-7 */
	zoom:1;
	/* set "zoom","width" or "height" to trigger "hasLayout" in IE 7 and lower */
	-moz-opacity:0.2; 
}
.file-item:hover .delbox{
	background-color: rgba(255,255,123,.4);
}
.file-item:hover span{
	display: block;
	color: #999;
}
.admiss_policy>li{
	display: flex;
	justify-content: flex-start;
	
}
.add_btn{
	background-color:#06a285;
	display: inline-block;
	height: 2em;
	width: 2em;
	text-align: center;
	line-height: 2;
}
.sch_pic{
	position:relative;
	width:130px;
}
.sch_pic>img{
	width:100%;
	height: 140px;
	border: 2px solid #209de2;
    border-radius: 5px;
}
.sch_pic>input{
	display:block;
	width:100%;
	height:100%;
	opacity: 0;
	position: absolute;
	top: 0;
    left: 0;
    cursor: pointer;
}


